<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/post-list-ul.css">
  <title>Weykon's Blog</title>
</head>

<body>
  <main>
    <!-- <button id="theme_switcher_btn" hx-trigger="click" hx-ext="log">theme-switcher-btn</button> -->
    <div class="container">
      <div class="top-bar">
        <div class="color-palette-hook">
          <div class="square" id="square1"></div>
          <div class="square" id="square2"></div>
          <div class="square" id="square3"></div>
          <div class="square" id="square4"></div>
        </div>
      </div>
      {% block content %} {% endblock %}
    </div>
  </main>
  <script src="{{ get_url(path='main.js') }}"></script>
</body>

</html>